doctype html
html
    head
        title= title
        link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&&display=swap' rel='stylesheet')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.core.min.js')
        script(src='https://cdn.jsdelivr.net/npm/mind-ar@1.1.4/dist/mindar-image-three.prod.js')
        script(src='https://cdn.jsdelivr.net/npm/opus-media-recorder@latest/OpusMediaRecorder.umd.js')
        script(src='https://cdn.jsdelivr.net/npm/opus-media-recorder@latest/encoderWorker.umd.js')
        script(src="/javascripts/libs/audio-recorder/recorder.js")
        script(src="/javascripts/main.js" type="module")
    body
        block content